input(type='text' name="title" placeholder='votre titre')

input(type='text' name="author" placeholder='votre auteur')
input(type='date' name="date_published")
input(type='number' name="pages" placeholder='nombre de pages')
form(action="/new" method='post', enctype='multipart/form-data')
    input(type='file', name='imageupload')
    input(type='submit', name='uploadimage', value='Upload Image')