extends layout

block content
  each book in books
    div
      p=book.title
      p=book.author
      p=book.date_published
      p=book.pages
    span
      button
        a(href=`/books/${book._id}`) lien
      button 
        a(href=`/books/delete/${book._id}`) Delete