extends layout

block content
  h3 Editer le livre
  form(action=`/books/edit/${book._id}` , method='post')
    input(type='text' value=book.title  name="title" placeholder= book.title)
    input(type='text' value=book.author name="author" placeholder=book.author)
    input(type='date' value=book.date_published name="date_published" placeholder=book.date_published)
    input(type='number' value=book.pages name="pages" placeholder= book.pages)
    button(type='submit') Envoyer
    