<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bookstore
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lumen/bootstrap.min.css" integrity="sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX" crossorigin="anonymous">
    style.
      body {display:flex; flex-direction:column; justify-content:space-between; align-items:center;}
      ul{display:flex; flex-direction:row; align-items:center; justify-content:center; font-size:1.5em}
      li{margin-right:25px; list-style:none}
      div{display:flex; flex-direction:column; align-items:center; justify-content:center;margin-top:5px;border:1px solid black;padding:5px;}
      
  body
    ul
      li
        a(href=`/books`) Livres
      li
        a(href="/books/new") Ajouter un livre
  block content